
@{
    ViewBag.Title = "Dvd";
}

@model AsPUiMediaShop.Models.dvdModel

<h1>Welcome to Bilbo's Media Shop</h1>
<h2>To go on an adventure with out leaving your front door</h2>

<button>@Html.ActionLink("Login Page", "Login")</button>
<button>@Html.ActionLink("Book Page", "Index")</button>

@foreach (MediaShopLibary.DVD dvd in Model.dvdlist)
{
    @Html.Partial("dvdistPartialView", dvd)
}

@using (Ajax.BeginForm("BuydvdMethod", "Home", new AjaxOptions
{
    HttpMethod = "GET",
    UpdateTargetId = "pricereturn",
    InsertionMode = InsertionMode.Replace
}))
{

    @Html.TextBox("_id")
    <input type="submit" />
}

<div id="pricereturn"></div>

